<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
  <link rel="icon" type="image" class="text-white" href="/image/mobile-solid.svg">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <title>Phonefixer</title>
</head>

<body>
  <div class="h-full bg-[#EEEEEE] w-full ">
    <div class=" bg-[#00ADB5] ">
      <nav class="flex justify-between  px-3 py-4 ">
        <div class="flex">
          <h1 class="text-gray-300 ">PHONEFIRER</h1>
          <p>💛</p>
        </div>
        <div></div>
      </nav>
      <div class="flex justify-between items-center mt-3  px-4 py-2  bg-[#393E46]">
        <p class="text-[10px] text-white "><i class="  fa-solid fa-check" style="color: #6962f9;"></i> 100% Trusted
          Parts</p>
        <p class="text-[10px] text-white"><i class="  fa-solid fa-clock" style="color: #6962f9;"></i> Fast Sevice</p>
        <p class="text-[10px] text-white"><i class="  fa-solid fa-people-group" style="color: #6962f9;"></i> 24/7
          Support</p>
      </div>
    </div>
    <div class="px-3 py-7 text-center font-bold text-[#222831]  ">
      <h1 class="text-2xl">Mobile Repair At Your Doorstep</h1>
      <p class="text-[#00ADB5] text-sm">Get 20% discount on your first order.</p>
    </div>

    <div class="flex relative">
      <div class="relative h-[250px] w-full">

        <img src="/image/repair-mobile2.jpg " class="opacity-85 w-full h-full " alt="">
      </div>
      <div
        class="absolute bottom-[50%] w-full left-[50%] translate-x-[-50%] translate-y-[140%] text-white  font-bold flex flex-col items-center ">
        <p class="bg-gray-400 px-2 rounded-md text-sm py-2">For Mobile Repair At Doorstep Book Slot </p>

        <a class="text-white text-[12px]   border-0 outline-0 mt-2 bg-yellow-500 py-2 px-3 text-center rounded-md">
          Book
        </a>
      </div>

    </div>
    <div>
      <h1 class="text-center font-bold text-xl text-[#393E46] px-3 py-5">Service Available</h1>
      <div class="grid grid-cols-3 gap-x-3 gap-y-5 justify-between px-5  ">
        <span
          class="text-[#00ADB5] shadow-[1px_2px_10px_2px_rgba(0,0,0,0.2)]   flex  flex-col items-center text-[13px] px-4 py-7   rounded-md  ">
          <i class="fa-solid fa-volume-high text-[30px] pb-2"></i>
          SPEAKER
        </span>
        <span
          class="text-[#00ADB5] shadow-[1px_2px_10px_2px_rgba(0,0,0,0.2)]  flex  flex-col items-center text-[13px] px-4 py-7   rounded-md ">
          <i class="fa-solid fa-battery-half text-[30px] pb-2"></i>
          BATTERY
        </span>
        <span
          class="text-[#00ADB5]  shadow-[1px_2px_10px_2px_rgba(0,0,0,0.2)]  flex  flex-col items-center text-[13px] px-4 py-7   rounded-md ">
          <i class="fa-solid fa-camera text-[30px] pb-2"></i>
          CAMERA
        </span>
        <span
          class=" text-[#00ADB5]   shadow-[1px_2px_10px_2px_rgba(0,0,0,0.2)]   flex  flex-col items-center text-[13px] px-4 py-7   rounded-md ">
          <i class="fa-solid   fa-mobile-screen text-[30px] pb-2"></i>
          TEMPER
        </span>
        <span
          class=" text-[#00ADB5]   shadow-[1px_2px_10px_2px_rgba(0,0,0,0.2)]   flex  flex-col items-center text-[13px] px-4 py-7   rounded-md ">
          <i class="fa-solid    fa-microchip text-[30px] pb-2"></i>
          MOTHERBOARD
        </span>
        <span
          class=" text-[#00ADB5]   shadow-[1px_2px_10px_2px_rgba(0,0,0,0.2)]   flex  flex-col items-center text-[13px] px-4 py-7   rounded-md ">
          <i class="bx bxs-mobile-back-alt-1 bx-flip-horizontal bx-bounce text-[30px] pb-2 "></i>
          BACK-PANEL
        </span>
      </div>
      <h1 class="text-center font-bold py-3 text-[#00ADB5] ">+more</h1>
    </div>

    <div class="relative w-full ">
      <div class="absolute inset-0 bg-[url('image/9310071-removebg-preview.png')] bg-center bg-cover opacity-30"></div>
      <div class="relative z-10">
        <div class="px-5 py-4  text-[#393E46]">
          <h1 class=" text-xl text-center font-bold py-5">Why Choose us!</h1>
          <p>brandName repair your mobile right at your doorstep. Our skilled technicians come to you to fix screens,
            batteries, and other issues on the spot, saving you time and effort.</p>
        </div>
        <div class="grid grid-cols-1 gap-x-3 gap-y-5 px-5 py-4 text-[#00ADB5]">
          <div class="flex  items-center space-x-2">
            <i class="bxr bx-wallet-note bx-beat py-2 text-3xl  text-bold border-1 rounded-full px-2"></i>
            <p>PHONEFIRER offer cost-effective mobile repairs, providing high-quality service at affordable prices so you save
              money without compromising on quality.</p>
          </div>
          <div class="flex  items-center space-x-3">
            <i class="bx bx-spanner bx-beat py-2 text-3xl  text-bold border-1 rounded-full px-2"></i>
            <p>We use only genuine parts to ensure your mobile works like new and lasts longer.</p>
          </div>
          <div class="flex  items-center space-x-3">
            <i class="fa-solid fa-truck-fast py-2 text-3xl  text-bold border-1 rounded-full px-2"></i>
            <p>We’re quick and responsive, fixing your mobile problems without delay</p>
          </div>
        </div>
      </div>

    </div>

    <footer class=" w-full shadow-[5px_2px_5px_2px_rgba(0,0,0,0.3)] px-5 py-4 space-y-3 bg-[#393E46] text-[#00ADB5] ">
      <div>
        <p>brandName</p>
        <p>Made In INDIA <span class="text-red-600">❤</span></p>
      </div>
      <div class="flex flex-col border-t-1 pt-3 space-y-3 border-gray-400">
        <div>Our support team is available from 09:00 am - 07:00 pm (All day)</div>
        <div class=" ">
          <div class="font-bold text-xl">Social Network</div>
          <div class="space-x-2">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
           <i class="fa-brands fa-x-twitter"></i>
           <i class="fa-brands fa-youtube"></i>

          </div>
        </div>
      </div>
      <div class="border-t-1 pt-3 border-gray-400">
        <div>All rights reserved. Trademarks, brands, logos, and product names are copyright to their respective owners and used for representational purposes only. Use of these elements do not imply endorsement.</div>
      </div>
      <div  class="border-t-1 pt-3 border-gray-400">
        <p class="font-bold text-xl">Contact</p>
        <div>
          <p>Phone : 1234567891</p>
          <p>Email : brandName@gmail.com</p>
        </div>
      </div>
     
    </footer>
     <div class="text-center py-3 bg-black text-white">© 2025 YourBrand. All rights reserved.</div>
  </div>
</body>

</html>
